<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:if condition="{habilitaContPrincipal} == 'true'">
        <f:then>
        <div id="contPrincipal_kanban" class="panel panel-{colorKanban}">
            <div class="panel-heading">
                <h4 class="panel-title">{tituloProyecto}</h4>
            </div>
            <div class="panel-body cuerpoContPrincipal_kanban">
                <f:for each="{objEstados}" as="estado" iteration="numero">
                    <div id="columnaNueva{numero.cycle}" class="panel panel-{estado.estado.colorColumna} columnaEstado_kanban">
                        <div class="panel-heading">
                            <h4 class="panel-title" kanban_nombre_estado="{estado.estado.nombre}">{estado.estado.nombre}</h4>
                            <p kanban_uid_estado="{estado.estado.uidEstado}" style="display: none"></p>
                            <p kanban_servicio_estado="{servicioCambioEstado}" style="display: none"></p>
                        </div>
                        <div class="panel-body cuerpoContColumna_kanban">
                            <div id="contenedor{numero.cycle}" class="contenedorTarjetas_kanban {habilitaDaD}">
                                <f:for each="{objTarjetas}" as="tarjeta" iteration="numElem">
                                    <f:if condition="{tarjeta.tarjeta.estado} == {estado.estado.nombre}">
                                        <div id="elemento{numElem.cycle}" class="panel panel-{tarjeta.tarjeta.colorTarjeta} tarjeta_kanban">
                                            <div class="panel-heading">
                                                <h4 class="panel-title" kanban_codigo_tarjeta="{tarjeta.tarjeta.codigoTarjeta}">{tarjeta.tarjeta.codigoTarjeta}
                                                    <f:if condition="{tarjeta.tarjeta.link} != ''" >
                                                        <a kanban_link_tarjeta="{tarjeta.tarjeta.link}" href="{tarjeta.tarjeta.link}" style="float: right"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    </f:if>
                                                </h4>
                                                <p kanban_uid_tarjeta="{tarjeta.tarjeta.uidTarjeta}" style="display: none"></p>
                                                <p kanban_uid_app="{tarjeta.tarjeta.uidApp}" style="display: none"></p>
                                            </div>
                                            <div class="panel-body cuerpoContTarjeta_kanban">
                                                <f:if condition="{tarjeta.tarjeta.descripcionTarjeta} != ''" >
                                                    <p kanban_descripcion_tarjeta="{tarjeta.tarjeta.descripcionTarjeta}" class="infoTarjeta_kanban">{tarjeta.tarjeta.descripcionTarjeta}</p>
                                                </f:if>
                                                <br>
                                                <f:if condition="{0:'{tarjeta.tarjeta.nombreResponsable}', 1:'{tarjeta.tarjeta.mailResponsable}'} == {0:'',1:''}">
                                                    <f:then>
                                                    </f:then>
                                                    <f:else>
                                                        <address>
                                                            <strong>Responsable: </strong><br>
                                                            <f:if condition="{tarjeta.tarjeta.nombreResponsable} != ''" >
                                                                <p kanban_nombre_responsable="{tarjeta.tarjeta.nombreResponsable}" class="infoTarjeta_kanban">{tarjeta.tarjeta.nombreResponsable}</p>
                                                            </f:if>
                                                            <f:if condition="{tarjeta.tarjeta.mailResponsable} != ''" >
                                                                <em><p kanban_mail_responsable="{tarjeta.tarjeta.mailResponsable}" class="infoTarjeta_kanban">{tarjeta.tarjeta.mailResponsable}</p></em>
                                                            </f:if>
                                                        </address>
                                                    </f:else>
                                                </f:if>
                                                <f:if condition="{tarjeta.tarjeta.fechaCreacion} != ''" >
                                                    <p class="infoTarjeta_kanban"></p>
                                                    <p kanban_fecha_creacion="{tarjeta.tarjeta.fechaCreacion}" class="infoTarjeta_kanban"><small><strong>Creación:</strong> {tarjeta.tarjeta.fechaCreacion}</small></p>
                                                </f:if>
                                                <f:if condition="{tarjeta.tarjeta.fechaUltimaActualizacion} != ''" >
                                                    <p class="infoTarjeta_kanban"></p>
                                                    <p kanban_ultima_actualizacion="{tarjeta.tarjeta.fechaUltimaActualizacion}" class="infoTarjeta_kanban"><small><strong>Actualizado:</strong> {tarjeta.tarjeta.fechaUltimaActualizacion}</small></p>
                                                </f:if>
                                            </div>
                                        </div>
                                    </f:if>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </f:for>
                <div style="min-width: 8px"></div>
            </div>
        </div>
        </f:then>
        <f:else>
            <div id="sinPanelPrincicipal_kanban" >
                <f:for each="{objEstados}" as="estado" iteration="numero">
                    <div id="columnaNueva{numero.cycle}" class="panel panel-{estado.estado.colorColumna} columnaEstado_kanban">
                        <div class="panel-heading">
                            <h4 class="panel-title" kanban_nombre_estado="{estado.estado.nombre}">{estado.estado.nombre}</h4>
                            <p kanban_uid_estado="{estado.estado.uidEstado}" style="display: none"></p>
                            <p kanban_servicio_estado="{servicioCambioEstado}" style="display: none"></p>
                        </div>
                        <div class="panel-body cuerpoContColumna_kanban">
                            <div id="contenedor{numero.cycle}" class="contenedorTarjetas_kanban {habilitaDaD}">
                                <f:for each="{objTarjetas}" as="tarjeta" iteration="numElem">
                                    <f:if condition="{tarjeta.tarjeta.estado} == {estado.estado.nombre}">
                                        <div id="elemento{numElem.cycle}" class="panel panel-{tarjeta.tarjeta.colorTarjeta} tarjeta_kanban">
                                            <div class="panel-heading">
                                                <h4 class="panel-title" kanban_codigo_tarjeta="{tarjeta.tarjeta.codigoTarjeta}">{tarjeta.tarjeta.codigoTarjeta}
                                                    <!--<button type="button" class="close botonEliminar" aria-hidden="true">&times;</button>-->
                                                    <f:if condition="{tarjeta.tarjeta.link} != ''" >
                                                        <a kanban_link_tarjeta="{tarjeta.tarjeta.link}" href="{tarjeta.tarjeta.link}" style="float: right"><i class="glyphicon glyphicon-pencil"></i></a>
                                                    </f:if>
                                                </h4>
                                                 <p kanban_uid_tarjeta="{tarjeta.tarjeta.uidTarjeta}" style="display: none"></p>
                                                <p kanban_uid_app="{tarjeta.tarjeta.uidApp}" style="display: none"></p>
                                            </div>
                                            <div class="panel-body cuerpoContTarjeta_kanban">
                                                    <f:if condition="{tarjeta.tarjeta.descripcionTarjeta} != ''" >
                                                        <p kanban_descripcion_tarjeta="{tarjeta.tarjeta.descripcionTarjeta}" class="infoTarjeta_kanban">{tarjeta.tarjeta.descripcionTarjeta}</p>
                                                    </f:if>
                                                    <br>
                                                    <f:if condition="{0:'{tarjeta.tarjeta.nombreResponsable}', 1:'{tarjeta.tarjeta.mailResponsable}'} == {0:'',1:''}">
                                                        <f:then>
                                                        </f:then>
                                                        <f:else>
                                                            <address>
                                                            <strong>Responsable: </strong><br>
                                                            <f:if condition="{tarjeta.tarjeta.nombreResponsable} != ''" >
                                                                <p kanban_nombre_responsable="{tarjeta.tarjeta.nombreResponsable}" class="infoTarjeta_kanban">{tarjeta.tarjeta.nombreResponsable}</p>
                                                            </f:if>
                                                            <f:if condition="{tarjeta.tarjeta.mailResponsable} != ''" >
                                                                <em><p kanban_mail_responsable="{tarjeta.tarjeta.mailResponsable}" class="infoTarjeta_kanban">{tarjeta.tarjeta.mailResponsable}</p></em>
                                                            </f:if>
                                                            </address>
                                                        </f:else>
                                                    </f:if>
                                                    <f:if condition="{tarjeta.tarjeta.fechaCreacion} != ''" >
                                                        <p class="infoTarjeta_kanban"></p>
                                                        <p kanban_fecha_creacion="{tarjeta.tarjeta.fechaCreacion}" class="infoTarjeta_kanban"><small><strong>Creación:</strong> {tarjeta.tarjeta.fechaCreacion}</small></p>
                                                    </f:if>
                                                    <f:if condition="{tarjeta.tarjeta.fechaUltimaActualizacion} != ''" >
                                                        <p class="infoTarjeta_kanban"></p>
                                                        <p kanban_ultima_actualizacion="{tarjeta.tarjeta.fechaUltimaActualizacion}" class="infoTarjeta_kanban"><small><strong>Actualizado:</strong> {tarjeta.tarjeta.fechaUltimaActualizacion}</small></p>
                                                    </f:if>
                                                    <f:if condition="{tarjeta.tarjeta.descripcionAlternativa} != ''">
                                                        <p kanban_descripcion_alternativa="{tarjeta.tarjeta.descripcionAlternativa}" class="infoTarjeta_kanban" style="display: none">{tarjeta.tarjeta.descripcionAlternativa}</p>
                                                    </f:if>
                                            </div>
                                        </div>
                                    </f:if>
                                </f:for>
                            </div>
                        </div>
                    </div>
                </f:for>
                <div style="min-width: 8px; clear: both"></div>
            </div>
        </f:else>
    </f:if>
</div>