<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">


    <div id='contenedorPrincipal'>
        <div id='div1' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <h4>Estado 1</h4>
            <f:for each="{proyectos}" as="infoProyecto" iteration="numero">
                <f:if condition="{infoProyecto.proyecto.estados}=='Estado 2'">
                    <f:then>
                        <div id="elemento{numero}" draggable='true' ondragstart='drag(event)'>
                            <p>
                                {infoProyecto.proyecto.titulo}
                                {infoProyecto.proyecto.fechaInicio}
                                {infoProyecto.proyecto.fechaTermino}
                                {infoProyecto.proyecto.descripcion}
                                {infoProyecto.proyecto.estados}
                            </p>
                        </div>
                    </f:then>
                </f:if>
            </f:for>
        </div>cd

        <div id='div2' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <h4>Estado 2</h4>
            <f:for each="{proyectos}" as="infoProyecto" iteration="numero">
                <f:if condition="{infoProyecto.proyecto.estados}=='Estado 2'">
                    <f:then>
                        <div id="elemento{numero}" draggable='true' ondragstart='drag(event)'>
                            <p>
                                {infoProyecto.proyecto.titulo}
                                {infoProyecto.proyecto.fechaInicio}
                                {infoProyecto.proyecto.fechaTermino}
                                {infoProyecto.proyecto.descripcion}
                                {infoProyecto.proyecto.estados}
                            </p>
                        </div>
                    </f:then>
                </f:if>
            </f:for>
        </div>
        <div id='div3' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <h4>Estado 3</h4>
            <f:for each="{proyectos}" as="infoProyecto" iteration="numero">
                <f:if condition="{infoProyecto.proyecto.estados}=='Estado 3'">
                    <f:then>
                        <div id="elemento{numero}" draggable='true' ondragstart='drag(event)'>
                            <p>
                                {infoProyecto.proyecto.titulo}
                                {infoProyecto.proyecto.fechaInicio}
                                {infoProyecto.proyecto.fechaTermino}
                                {infoProyecto.proyecto.descripcion}
                                {infoProyecto.proyecto.estados}
                            </p>
                        </div>
                    </f:then>
                </f:if>
            </f:for>
        </div>
        <div id='div4' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <h4>Estado 4</h4>
            <f:for each="{proyectos}" as="infoProyecto" iteration="numero">
                <f:if condition="{infoProyecto.proyecto.estados}=='Estado 4'">
                    <f:then>
                        <div id="elemento{numero}" draggable='true' ondragstart='drag(event)'>
                            <p>
                                {infoProyecto.proyecto.titulo}
                                {infoProyecto.proyecto.fechaInicio}
                                {infoProyecto.proyecto.fechaTermino}
                                {infoProyecto.proyecto.descripcion}
                                {infoProyecto.proyecto.estados}
                            </p>
                        </div>
                    </f:then>
                </f:if>
            </f:for>
        </div>
        <div id='div5' ondrop='drop(event)' ondragover='allowDrop(event)'>
            <h4>Estado 5</h4>
            <f:for each="{proyectos}" as="infoProyecto" iteration="numero">
                <f:if condition="{infoProyecto.proyecto.estados}=='Estado 2'">
                    <f:then>
                        <div id="elemento{numero}" draggable='true' ondragstart='drag(event)'>
                            <p>
                                {infoProyecto.proyecto.titulo}
                                {infoProyecto.proyecto.fechaInicio}
                                {infoProyecto.proyecto.fechaTermino}
                                {infoProyecto.proyecto.descripcion}
                                {infoProyecto.proyecto.estados}
                            </p>
                        </div>
                    </f:then>
                </f:if>
            </f:for>
        </div>
    </div>
</div>