#contenedorPrincipal {
    width: auto;
    height: 600px;
    border: 2px solid black;
    padding: 10px;
    background-color: #4eff66;
    border-radius: 1%
}
#div1, #div2, #div3, #div4, #div5 {
    position: relative;
    float: left;
    width:210px;
    height:auto;
    margin:5px;
    padding:5px;
    padding-bottom: 35px;
    border: 2px solid #000000;
    border-radius: 1%;
    background-color: #389fff
}
div[id*="elemento"] {
    width: auto;
    height: 100px;
    border: 1px solid black;
    border-radius: 1%;
    margin-bottom: 5px;
    background-color: darkorange;
    padding: 3px;
}

div[id*="elemento"]:hover {
    background-color: #ffc540;
}
h3 {
    text-align: center;
    font-family: Arial;
}
h4 {
    text-align: center;
    font-family: "Arial";
    font-style: normal;
    font-size: medium
}
p {
    font-family: Arial;
    font-size: 70%;
}