#contPrincipal_kanban {
    width: 100%;
}

.columnaEstado_kanban {
    float: left;
    width: 255px;
    min-width: 255px;
    margin: 8px;
    display: inline-block;
    height: auto;
}

.contenedorTarjetas_kanban {
    overflow-y: hidden;
    /**overflow-x: hidden;**/
    padding-bottom: 50px;
    height: 100%;

}

.tarjeta_kanban {
    width: auto;
    min-width: 200px;
    max-width: 400px;
    min-height: 100px;
    margin: 4px;
}

.cuerpoContColumna_kanban {
    padding: 4px;
    height: 100%;
}

.cuerpoContPrincipal_kanban {
    overflow-x: auto;
    display: flex;
    padding: 5px;
}

.cuerpoContTarjeta_kanban {
    padding: 10px;
}

.infoTarjeta_kanban {
    margin: 2px;
    font-size: 14px;
}

.ui-state-highlight_kanban {
    height: 100px; line-height: 100px;
}

#sinPanelPrincicipal_kanban {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    padding: 5px;
}