<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

	<f:layout name="Backend" />

	<f:section name="Configuration">
		<flux:form id="module" label="Fluid/Form">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:form tag -->
		</flux:form>
	</f:section>

	<f:section name="Main">
		<h1>I am a standard template file!</h1>
		<p>
			My template file is EXT:drag_and_drop_v2/Resources/Private/Backend/Module.html.
		</p>
	</f:section>
</div>
