{namespace dad = Francisco\DragAndDropV2\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
	xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content" />

	<f:section name="Configuration">
		<flux:form id="formConf" options="{group: 'FCO'}" label="Drag and Drop Version 2" description="Contenedores con Contenido HTML Arrastrable">
			<!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
			<flux:form.sheet name="configuracion" label="Configuraciones generales">
				<flux:field.input name="tituloProyecto" label="Titulo Proyecto"></flux:field.input>
				<flux:field.select name="colorKanban" items="default,primary,success,info,warning,danger" label="Color Proyecto"></flux:field.select>
				<flux:field.checkbox name="dragAndDrop" label="Funcion Drag&Drop"></flux:field.checkbox>
				<flux:field.input name="servicioCambioEstado" label="Servicio para el cambio de estado"></flux:field.input>
			</flux:form.sheet>
			<flux:form.sheet name="estados" label="Estados del proyecto">
				<flux:form.section name="estado" label="Estado">
					<flux:form.object name="estado" label="Nuevo estado">
						<flux:field.input name="uidEstado" label="Uid estado"></flux:field.input>
						<flux:field.input name="nombre" label="Nombre estado"></flux:field.input>
						<flux:field.input name="descripcion" label="Descripcion estado"></flux:field.input>
						<flux:field.select name="colorColumna" items="default,primary,success,info,warning,danger" label="Color estado"></flux:field.select>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
			<flux:form.sheet name="tarjetas" label="Tarjetas">
				<flux:form.section name="tarjeta" label="Tarjeta">
					<flux:form.object name="tarjeta" label="Nueva tarjeta">
						<flux:field.input name="uidTarjeta" label="Uid tarea"></flux:field.input>
						<flux:field.input name="uidApp" label="Uid App"></flux:field.input>
						<flux:field.input name="codigoTarjeta" label="Codigo tarjeta"></flux:field.input>
						<flux:field.input name="descripcionTarjeta" label="Descripcion tarjeta"></flux:field.input>
						<flux:field.input name="descripcionAlternativa" label="Descripcion alternativa"></flux:field.input>
						<flux:field.input name="fechaCreacion" label="Fecha creación"></flux:field.input>
						<flux:field.input name="estado" label="Estado al que pertenece"></flux:field.input>
						<flux:field.input name="nombreResponsable" label="Nombre persona responsable"></flux:field.input>
						<flux:field.input name="mailResponsable" label="Mail persona responsable"></flux:field.input>
						<flux:field.input name="fechaUltimaActualizacion" label="Fecha Ultima actualizacion"></flux:field.input>
						<flux:field.input name="link" label="Link"></flux:field.input>
						<flux:field.select name="colorTarjeta" items="default,primary,success,info,warning,danger" label="Color tarjeta"></flux:field.select>
					</flux:form.object>
				</flux:form.section>
			</flux:form.sheet>
		</flux:form>
	</f:section>

	<f:section name="Preview">
		<!-- If you wish, place custom backend preview content here -->
	</f:section>

	<f:section name="Main">
		<dad:DragAndDropV2 tituloProyecto="{tituloProyecto}" colorKanban="{colorKanban}" dragAndDrop="{dragAndDrop}" objEstados="{estado}" objTarjetas="{tarjeta}" servicioCambioEstado="{servicioCambioEstado}"/>
	</f:section>
</div>
